html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #035fff;
}
p{
  color: #ffffff;
  font-size: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 30px;
}
.conten1{
  align-items: center;
  justify-content: center;
  display: flex;
}
.conten1 img{
  height: 100px;
}
.pastel{
  align-items: center;
  justify-content: center;
  display: flex;
}
.conten1 img{
  height: 400px;
}
.conten2{
  align-items: center;
  justify-content: center;
  display: flex;
}